<a class="preview" href="/<%= variant %>/view/<%= chall._id %>">
    <%- include('./statusball') %>
    <%= chall.title %>
    <br>
    <section class="previewSubtext"><%= chall.content %></section>
</a>