<%- include('./partials/head') %>
<h1><%= chall.title %></h1>
<h2><%= op.username %></h2>
<h3><%= chall.content %></h3>
<% if (rank == "sysadmin" || rank == "teacher") { %>
    <form action="/teacher/chall/update/<%= chall._id %>" method="post">
        <label for="status">Status</label>
        <br>
        <input type="radio" name="status" id="status" value="0" checked required>
        <label for="status">Ikke viktig</label>
        <input type="radio" name="status" id="status" value="1" <% if (chall.status == 1) { %>checked<% } %>>
        <label for="status">Lite viktig</label>
        <input type="radio" name="status" id="status" value="2" <% if (chall.status == 2) { %>checked<% } %>>
        <label for="status">Noe viktig</label>
        <input type="radio" name="status" id="status" value="3" <% if (chall.status == 3) { %>checked<% } %>>
        <label for="status">Veldig viktig</label>
        <br>
        <br>
        <label for="tags">Etikketer</label>
        <br>
        <% for( tag of tags ) { %>
            <input type="checkbox" name="tags" id="tags" value="<%= tag %>" <% if (chall.tags.includes(tag)) { %>checked<% } %>>
            <label for="tags"><%= tag %></label>
        <% } %>
        <br>
        <br>
        <button>Lagre</button>
    </form>
    <form action="/admin/chall/delete/<%= chall._id %>" method="post">
        <button>Slett   </button>
    </form>
<% } %>